{% assign articles = site.data.articles | sort: 'date' | reverse %}
<ul>
  {% for article in articles %}
    <li>
      <p>
        <em>{% include short_date_german date=article.date %}</em>, {{article.origin}}:
        <a href="{{article.url}}" target="_blank"><em>„{{article.title}}“</em></a>{% if article.author %} von {{article.author}}{% endif %}
        {% if article.pdf %}
          {% include pdf_download_subtle_link pdf=article.pdf %}
        {% endif %}
      </p>
    </li>
  {% endfor %}
</ul>
