<div class="hidden-print">
  <br>
  <h1 id="newsletter-form">
    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
    Newsletter
  </h1>

  <br>

  <!-- Begin MailChimp Custom Signup Form -->
  <form action="//basimil.us8.list-manage.com/subscribe?u=e346ea2606a494dc5e1c225a9&id=eaf870c61b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-horizontal" target="_blank" novalidate>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups -->
    <div style="position: absolute; left: -5000px;">
      <input type="text" name="b_e346ea2606a494dc5e1c225a9_412910e11c" tabindex="-1" value=""></div>
    <div class="form-group">
      <div class="button-container">
        <button type="submit" class="btn btn-lg btn-info">Newsletter abonnieren</button>
      </div>
    </div>
  </form>
  <!-- End MailChimp Custom Signup Form -->

</div>
